body{
    background-color: blueviolet;
}
#show_sketch{
    float:right;
}
#score{
    margin-left: 20px;
    }
    #timer{
        margin-right:20px;
        float:right;
    }
    p,span{
        padding-top: 10px;
        font-size:25px;
    }
    canvas{
        border:5px solid blue;
        border-radius:20px;
        animation-name:example;
        animation-duration:4s;
        animation-iteration-count: infinite;
        margin-top: 150px;
    }
    @keyframes example {
        from{box-shadow:1px 1px 38px khaki;}
to{box-shadow:1px 1px 38px lightsalmon;}
    }